src/test/resources/emissary/test/core/schemas/answers.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
    <xs:element name="root">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="setup" minOccurs="0"/>
                <xs:element ref="answers"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="result">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="setup" minOccurs="0"/>
                <xs:element ref="answers"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="setup">
        <xs:complexType>
            <xs:choice minOccurs="0" maxOccurs="unbounded">
                <xs:element ref="initialForm"/>
                <xs:element ref="classification"/>
                <xs:element ref="fontEncoding"/>
                <xs:element ref="fileType"/>
                <xs:element ref="meta"/>
                <xs:element ref="altView"/>
                <xs:element ref="inputAlternateView"/>
                <xs:element ref="badAlternateView"/>
            </xs:choice>
        </xs:complexType>
    </xs:element>
    <xs:element name="answers" type="ibdo"/>
    <xs:element name="att" type="ibdo"/>
    <xs:element name="extract" type="ibdo"/>
    <xs:element name="initialForm" type="baseType"/>
    <xs:element name="fileType" type="baseType"/>
    <xs:element name="currentFormSize" type="baseType"/>
    <xs:element name="fontEncoding" type="baseType"/>
    <xs:element name="inputAlternateView" type="baseType"/>
    <xs:element name="badAlternateView" type="baseType"/>
    <xs:element name="broken" type="baseType"/>
    <xs:element name="procError" type="baseType"/>
    <xs:element name="extractCount" type="baseType"/>
    <xs:element name="classification" type="baseType"/>
    <xs:element name="dataLength" type="baseType"/>
    <xs:element name="shortName" type="baseType"/>
    <xs:element name="numAttachments" type="baseType"/>
    <xs:element name="name" type="xs:string"/>
    <xs:element name="value" type="xs:string"/>
    <xs:element name="length" type="xs:integer"/>
    <xs:element name="currentForm">
        <xs:complexType mixed="true">
            <xs:complexContent mixed="true">
                <xs:extension base="baseType">
                    <xs:attribute name="index" type="xs:integer"/>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="altView">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="name"/>
                <xs:element ref="value"/>
            </xs:sequence>
            <xs:attribute ref="os-release"/>
            <xs:attribute ref="os-version"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="data">
        <xs:complexType mixed="true">
            <xs:sequence>
                <xs:element ref="value"/>
            </xs:sequence>
            <xs:attribute ref="os-release"/>
            <xs:attribute ref="os-version"/>
            <xs:attribute ref="matchMode"/>
            <xs:attribute ref="collectionSeparator"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="meta">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="name"/>
                <xs:element ref="value" minOccurs="0"/>
            </xs:sequence>
            <xs:attribute ref="os-release"/>
            <xs:attribute ref="os-version"/>
            <xs:attribute ref="matchMode"/>
            <xs:attribute ref="collectionSeparator"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="nometa">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="name"/>
            </xs:sequence>
            <xs:attribute ref="os-release"/>
            <xs:attribute ref="os-version"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="view">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="name"/>
                <xs:element ref="length" minOccurs="0"/>
                <xs:element ref="value" minOccurs="0"/>
            </xs:sequence>
            <xs:attribute ref="os-release"/>
            <xs:attribute ref="os-version"/>
            <xs:attribute ref="matchMode"/>
            <xs:attribute ref="collectionSeparator"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="noview">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="name"/>
            </xs:sequence>
            <xs:attribute ref="os-release"/>
            <xs:attribute ref="os-version"/>
        </xs:complexType>
    </xs:element>

    <xs:attribute name="index" type="xs:int" />
    <xs:attribute name="os-release">
        <xs:simpleType>
            <xs:restriction base="xs:string">
                <xs:enumeration value="rhel"/>
                <xs:enumeration value="centos"/>
                <xs:enumeration value="ubuntu"/>
                <xs:enumeration value="mac"/>
            </xs:restriction>
        </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="os-version" type="xs:string" />
    <xs:attribute name="matchMode">
        <xs:simpleType>
            <xs:restriction base="xs:string">
                <xs:enumeration value="equals"/>
                <xs:enumeration value="index"/>
                <xs:enumeration value="!index"/>
                <xs:enumeration value="contains"/>
                <xs:enumeration value="!contains"/>
                <xs:enumeration value="match"/>
                <xs:enumeration value="base64"/>
                <xs:enumeration value="collection"/>
            </xs:restriction>
        </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="collectionSeparator" type="xs:string" />

    <xs:complexType name="baseType" mixed="true">
        <xs:attribute ref="os-release"/>
        <xs:attribute ref="os-version"/>
    </xs:complexType>
    <xs:complexType name="ibdo">
        <xs:choice minOccurs="0" maxOccurs="unbounded">
            <xs:element ref="currentForm"/>
            <xs:element ref="currentFormSize"/>
            <xs:element ref="fileType"/>
            <xs:element ref="classification"/>
            <xs:element ref="shortName"/>
            <xs:element ref="fontEncoding"/>
            <xs:element ref="broken"/>
            <xs:element ref="procError"/>
            <xs:element ref="meta"/>
            <xs:element ref="nometa"/>
            <xs:element ref="data"/>
            <xs:element ref="dataLength"/>
            <xs:element ref="view"/>
            <xs:element ref="noview"/>
            <xs:element ref="numAttachments"/>
            <xs:element ref="att"/>
            <xs:element ref="extractCount"/>
            <xs:element ref="extract"/>
            <xs:group ref="children"/>
        </xs:choice>
        <xs:attribute name="index" type="xs:int" />
    </xs:complexType>
    <xs:group name="children">
        <xs:sequence>
            <!-- these are here for backwards compatibility, migrate to using <att index="#"> -->
            <xs:element name="att1" type="ibdo" minOccurs="0"/>
            <xs:element name="att2" type="ibdo" minOccurs="0"/>
            <xs:element name="att3" type="ibdo" minOccurs="0"/>
            <xs:element name="att4" type="ibdo" minOccurs="0"/>
            <xs:element name="att5" type="ibdo" minOccurs="0"/>
            <xs:element name="att6" type="ibdo" minOccurs="0"/>
            <xs:element name="att7" type="ibdo" minOccurs="0"/>
            <xs:element name="att8" type="ibdo" minOccurs="0"/>
            <xs:element name="att9" type="ibdo" minOccurs="0"/>
            <xs:element name="att10" type="ibdo" minOccurs="0"/>
            <xs:element name="att11" type="ibdo" minOccurs="0"/>
            <xs:element name="att12" type="ibdo" minOccurs="0"/>
            <xs:element name="att13" type="ibdo" minOccurs="0"/>
            <xs:element name="att14" type="ibdo" minOccurs="0"/>
            <xs:element name="att15" type="ibdo" minOccurs="0"/>
            <xs:element name="att16" type="ibdo" minOccurs="0"/>
            <xs:element name="att17" type="ibdo" minOccurs="0"/>
            <xs:element name="att18" type="ibdo" minOccurs="0"/>
            <xs:element name="att19" type="ibdo" minOccurs="0"/>
            <xs:element name="att20" type="ibdo" minOccurs="0"/>
            <xs:element name="att21" type="ibdo" minOccurs="0"/>
            <xs:element name="att22" type="ibdo" minOccurs="0"/>
            <xs:element name="att23" type="ibdo" minOccurs="0"/>
            <xs:element name="att24" type="ibdo" minOccurs="0"/>
            <xs:element name="att25" type="ibdo" minOccurs="0"/>
            <xs:element name="att26" type="ibdo" minOccurs="0"/>
            <xs:element name="att27" type="ibdo" minOccurs="0"/>
            <xs:element name="att28" type="ibdo" minOccurs="0"/>
            <xs:element name="att29" type="ibdo" minOccurs="0"/>
            <xs:element name="att30" type="ibdo" minOccurs="0"/>
            <xs:element name="att31" type="ibdo" minOccurs="0"/>
            <xs:element name="att32" type="ibdo" minOccurs="0"/>
            <xs:element name="att33" type="ibdo" minOccurs="0"/>
            <xs:element name="att34" type="ibdo" minOccurs="0"/>
            <xs:element name="att35" type="ibdo" minOccurs="0"/>
            <xs:element name="att36" type="ibdo" minOccurs="0"/>
            <xs:element name="att37" type="ibdo" minOccurs="0"/>
            <xs:element name="att38" type="ibdo" minOccurs="0"/>
            <xs:element name="att39" type="ibdo" minOccurs="0"/>
            <xs:element name="att40" type="ibdo" minOccurs="0"/>
            <xs:element name="att41" type="ibdo" minOccurs="0"/>
            <xs:element name="att42" type="ibdo" minOccurs="0"/>
            <xs:element name="att43" type="ibdo" minOccurs="0"/>
            <xs:element name="att44" type="ibdo" minOccurs="0"/>
            <xs:element name="att45" type="ibdo" minOccurs="0"/>
            <xs:element name="att46" type="ibdo" minOccurs="0"/>
            <xs:element name="att47" type="ibdo" minOccurs="0"/>
            <xs:element name="att48" type="ibdo" minOccurs="0"/>
            <xs:element name="att49" type="ibdo" minOccurs="0"/>
            <xs:element name="att50" type="ibdo" minOccurs="0"/>
            <xs:element name="att51" type="ibdo" minOccurs="0"/>
            <xs:element name="att52" type="ibdo" minOccurs="0"/>
            <xs:element name="att53" type="ibdo" minOccurs="0"/>
            <xs:element name="att54" type="ibdo" minOccurs="0"/>
            <xs:element name="att55" type="ibdo" minOccurs="0"/>
            <xs:element name="att56" type="ibdo" minOccurs="0"/>
            <xs:element name="att57" type="ibdo" minOccurs="0"/>
            <xs:element name="att58" type="ibdo" minOccurs="0"/>
            <xs:element name="att59" type="ibdo" minOccurs="0"/>
            <xs:element name="att60" type="ibdo" minOccurs="0"/>
            <xs:element name="att61" type="ibdo" minOccurs="0"/>
            <xs:element name="att62" type="ibdo" minOccurs="0"/>
            <xs:element name="att63" type="ibdo" minOccurs="0"/>
            <xs:element name="att64" type="ibdo" minOccurs="0"/>
            <xs:element name="att65" type="ibdo" minOccurs="0"/>
            <xs:element name="att66" type="ibdo" minOccurs="0"/>
            <xs:element name="att67" type="ibdo" minOccurs="0"/>
            <xs:element name="att68" type="ibdo" minOccurs="0"/>
            <xs:element name="att69" type="ibdo" minOccurs="0"/>
            <xs:element name="att70" type="ibdo" minOccurs="0"/>
            <xs:element name="att71" type="ibdo" minOccurs="0"/>
            <xs:element name="att72" type="ibdo" minOccurs="0"/>
            <xs:element name="att73" type="ibdo" minOccurs="0"/>
            <xs:element name="att74" type="ibdo" minOccurs="0"/>
            <xs:element name="att75" type="ibdo" minOccurs="0"/>
            <xs:element name="att76" type="ibdo" minOccurs="0"/>
            <xs:element name="att77" type="ibdo" minOccurs="0"/>
            <xs:element name="att78" type="ibdo" minOccurs="0"/>
            <xs:element name="att79" type="ibdo" minOccurs="0"/>
            <xs:element name="att80" type="ibdo" minOccurs="0"/>
            <xs:element name="att81" type="ibdo" minOccurs="0"/>
            <xs:element name="att82" type="ibdo" minOccurs="0"/>
            <xs:element name="att83" type="ibdo" minOccurs="0"/>
            <xs:element name="att84" type="ibdo" minOccurs="0"/>
            <xs:element name="att85" type="ibdo" minOccurs="0"/>
            <xs:element name="att86" type="ibdo" minOccurs="0"/>
            <xs:element name="att87" type="ibdo" minOccurs="0"/>
            <xs:element name="att88" type="ibdo" minOccurs="0"/>
            <xs:element name="att89" type="ibdo" minOccurs="0"/>
            <xs:element name="att90" type="ibdo" minOccurs="0"/>
            <xs:element name="att91" type="ibdo" minOccurs="0"/>
            <xs:element name="att92" type="ibdo" minOccurs="0"/>
            <xs:element name="att93" type="ibdo" minOccurs="0"/>
            <xs:element name="att94" type="ibdo" minOccurs="0"/>
            <xs:element name="att95" type="ibdo" minOccurs="0"/>
            <xs:element name="att96" type="ibdo" minOccurs="0"/>
            <xs:element name="att97" type="ibdo" minOccurs="0"/>
            <xs:element name="att98" type="ibdo" minOccurs="0"/>
            <xs:element name="att99" type="ibdo" minOccurs="0"/>
            <xs:element name="att100" type="ibdo" minOccurs="0"/>
            <xs:element name="att101" type="ibdo" minOccurs="0"/>
            <xs:element name="att102" type="ibdo" minOccurs="0"/>
            <xs:element name="att103" type="ibdo" minOccurs="0"/>
            <xs:element name="att104" type="ibdo" minOccurs="0"/>
            <xs:element name="att105" type="ibdo" minOccurs="0"/>
            <xs:element name="att106" type="ibdo" minOccurs="0"/>
            <xs:element name="att107" type="ibdo" minOccurs="0"/>
            <xs:element name="att108" type="ibdo" minOccurs="0"/>
            <xs:element name="att109" type="ibdo" minOccurs="0"/>
            <xs:element name="att110" type="ibdo" minOccurs="0"/>
            <xs:element name="att111" type="ibdo" minOccurs="0"/>
            <xs:element name="att112" type="ibdo" minOccurs="0"/>
            <xs:element name="att113" type="ibdo" minOccurs="0"/>
            <xs:element name="att114" type="ibdo" minOccurs="0"/>
            <xs:element name="att115" type="ibdo" minOccurs="0"/>
            <xs:element name="att116" type="ibdo" minOccurs="0"/>
            <xs:element name="att117" type="ibdo" minOccurs="0"/>
            <xs:element name="att118" type="ibdo" minOccurs="0"/>
            <xs:element name="att119" type="ibdo" minOccurs="0"/>
            <xs:element name="att120" type="ibdo" minOccurs="0"/>
            <xs:element name="att121" type="ibdo" minOccurs="0"/>
            <xs:element name="att122" type="ibdo" minOccurs="0"/>
            <xs:element name="att123" type="ibdo" minOccurs="0"/>
            <xs:element name="att124" type="ibdo" minOccurs="0"/>
            <xs:element name="att125" type="ibdo" minOccurs="0"/>
            <xs:element name="att126" type="ibdo" minOccurs="0"/>
            <xs:element name="att127" type="ibdo" minOccurs="0"/>
            <xs:element name="att128" type="ibdo" minOccurs="0"/>
            <xs:element name="att129" type="ibdo" minOccurs="0"/>
            <xs:element name="att130" type="ibdo" minOccurs="0"/>
            <xs:element name="att131" type="ibdo" minOccurs="0"/>
            <xs:element name="att132" type="ibdo" minOccurs="0"/>
            <xs:element name="att133" type="ibdo" minOccurs="0"/>
            <xs:element name="att134" type="ibdo" minOccurs="0"/>
            <xs:element name="att135" type="ibdo" minOccurs="0"/>
            <xs:element name="att136" type="ibdo" minOccurs="0"/>
            <xs:element name="att137" type="ibdo" minOccurs="0"/>
            <xs:element name="att138" type="ibdo" minOccurs="0"/>
            <xs:element name="att139" type="ibdo" minOccurs="0"/>
            <xs:element name="att140" type="ibdo" minOccurs="0"/>
            <xs:element name="att141" type="ibdo" minOccurs="0"/>
            <xs:element name="att142" type="ibdo" minOccurs="0"/>
            <xs:element name="att143" type="ibdo" minOccurs="0"/>
            <xs:element name="att144" type="ibdo" minOccurs="0"/>
            <xs:element name="att145" type="ibdo" minOccurs="0"/>
            <xs:element name="att146" type="ibdo" minOccurs="0"/>
            <xs:element name="att147" type="ibdo" minOccurs="0"/>
            <xs:element name="att148" type="ibdo" minOccurs="0"/>
            <xs:element name="att149" type="ibdo" minOccurs="0"/>
            <xs:element name="att150" type="ibdo" minOccurs="0"/>
            <xs:element name="att151" type="ibdo" minOccurs="0"/>
            <xs:element name="att152" type="ibdo" minOccurs="0"/>
            <xs:element name="att153" type="ibdo" minOccurs="0"/>
            <xs:element name="att154" type="ibdo" minOccurs="0"/>
            <xs:element name="att155" type="ibdo" minOccurs="0"/>
            <xs:element name="att156" type="ibdo" minOccurs="0"/>
            <xs:element name="att157" type="ibdo" minOccurs="0"/>
            <xs:element name="att158" type="ibdo" minOccurs="0"/>
            <xs:element name="att159" type="ibdo" minOccurs="0"/>
            <xs:element name="att160" type="ibdo" minOccurs="0"/>
            <xs:element name="att161" type="ibdo" minOccurs="0"/>
            <xs:element name="att162" type="ibdo" minOccurs="0"/>
            <xs:element name="att163" type="ibdo" minOccurs="0"/>
            <xs:element name="att164" type="ibdo" minOccurs="0"/>
            <xs:element name="att165" type="ibdo" minOccurs="0"/>
            <xs:element name="att166" type="ibdo" minOccurs="0"/>
            <xs:element name="att167" type="ibdo" minOccurs="0"/>
            <xs:element name="att168" type="ibdo" minOccurs="0"/>
            <xs:element name="att169" type="ibdo" minOccurs="0"/>
            <xs:element name="att170" type="ibdo" minOccurs="0"/>
            <xs:element name="att171" type="ibdo" minOccurs="0"/>
            <xs:element name="att172" type="ibdo" minOccurs="0"/>
            <xs:element name="att173" type="ibdo" minOccurs="0"/>
            <xs:element name="att174" type="ibdo" minOccurs="0"/>
            <xs:element name="att175" type="ibdo" minOccurs="0"/>
            <xs:element name="att176" type="ibdo" minOccurs="0"/>
            <xs:element name="att177" type="ibdo" minOccurs="0"/>
            <xs:element name="att178" type="ibdo" minOccurs="0"/>
            <xs:element name="att179" type="ibdo" minOccurs="0"/>
            <xs:element name="att180" type="ibdo" minOccurs="0"/>
            <xs:element name="att181" type="ibdo" minOccurs="0"/>
            <xs:element name="att182" type="ibdo" minOccurs="0"/>
            <xs:element name="att183" type="ibdo" minOccurs="0"/>
            <xs:element name="att184" type="ibdo" minOccurs="0"/>
            <xs:element name="att185" type="ibdo" minOccurs="0"/>
            <xs:element name="att186" type="ibdo" minOccurs="0"/>
            <xs:element name="att187" type="ibdo" minOccurs="0"/>
            <xs:element name="att188" type="ibdo" minOccurs="0"/>
            <xs:element name="att189" type="ibdo" minOccurs="0"/>
            <xs:element name="att190" type="ibdo" minOccurs="0"/>
            <xs:element name="att191" type="ibdo" minOccurs="0"/>
            <xs:element name="att192" type="ibdo" minOccurs="0"/>
            <xs:element name="att193" type="ibdo" minOccurs="0"/>
            <xs:element name="att194" type="ibdo" minOccurs="0"/>
            <xs:element name="att195" type="ibdo" minOccurs="0"/>
            <xs:element name="att196" type="ibdo" minOccurs="0"/>
            <xs:element name="att197" type="ibdo" minOccurs="0"/>
            <xs:element name="att198" type="ibdo" minOccurs="0"/>
            <xs:element name="att199" type="ibdo" minOccurs="0"/>
            <xs:element name="att200" type="ibdo" minOccurs="0"/>
            <xs:element name="extract1" type="ibdo" minOccurs="0"/>
            <xs:element name="extract2" type="ibdo" minOccurs="0"/>
            <xs:element name="extract3" type="ibdo" minOccurs="0"/>
            <xs:element name="extract4" type="ibdo" minOccurs="0"/>
            <xs:element name="extract5" type="ibdo" minOccurs="0"/>
            <xs:element name="extract6" type="ibdo" minOccurs="0"/>
            <xs:element name="extract7" type="ibdo" minOccurs="0"/>
            <xs:element name="extract8" type="ibdo" minOccurs="0"/>
            <xs:element name="extract9" type="ibdo" minOccurs="0"/>
            <xs:element name="extract10" type="ibdo" minOccurs="0"/>
            <xs:element name="extract11" type="ibdo" minOccurs="0"/>
            <xs:element name="extract12" type="ibdo" minOccurs="0"/>
            <xs:element name="extract13" type="ibdo" minOccurs="0"/>
            <xs:element name="extract14" type="ibdo" minOccurs="0"/>
            <xs:element name="extract15" type="ibdo" minOccurs="0"/>
            <xs:element name="extract16" type="ibdo" minOccurs="0"/>
            <xs:element name="extract17" type="ibdo" minOccurs="0"/>
            <xs:element name="extract18" type="ibdo" minOccurs="0"/>
            <xs:element name="extract19" type="ibdo" minOccurs="0"/>
            <xs:element name="extract20" type="ibdo" minOccurs="0"/>
            <xs:element name="extract21" type="ibdo" minOccurs="0"/>
            <xs:element name="extract22" type="ibdo" minOccurs="0"/>
            <xs:element name="extract23" type="ibdo" minOccurs="0"/>
            <xs:element name="extract24" type="ibdo" minOccurs="0"/>
            <xs:element name="extract25" type="ibdo" minOccurs="0"/>
            <xs:element name="extract26" type="ibdo" minOccurs="0"/>
            <xs:element name="extract27" type="ibdo" minOccurs="0"/>
            <xs:element name="extract28" type="ibdo" minOccurs="0"/>
            <xs:element name="extract29" type="ibdo" minOccurs="0"/>
            <xs:element name="extract30" type="ibdo" minOccurs="0"/>
            <xs:element name="extract31" type="ibdo" minOccurs="0"/>
            <xs:element name="extract32" type="ibdo" minOccurs="0"/>
            <xs:element name="extract33" type="ibdo" minOccurs="0"/>
            <xs:element name="extract34" type="ibdo" minOccurs="0"/>
            <xs:element name="extract35" type="ibdo" minOccurs="0"/>
            <xs:element name="extract36" type="ibdo" minOccurs="0"/>
            <xs:element name="extract37" type="ibdo" minOccurs="0"/>
            <xs:element name="extract38" type="ibdo" minOccurs="0"/>
            <xs:element name="extract39" type="ibdo" minOccurs="0"/>
            <xs:element name="extract40" type="ibdo" minOccurs="0"/>
            <xs:element name="extract41" type="ibdo" minOccurs="0"/>
            <xs:element name="extract42" type="ibdo" minOccurs="0"/>
            <xs:element name="extract43" type="ibdo" minOccurs="0"/>
            <xs:element name="extract44" type="ibdo" minOccurs="0"/>
            <xs:element name="extract45" type="ibdo" minOccurs="0"/>
            <xs:element name="extract46" type="ibdo" minOccurs="0"/>
            <xs:element name="extract47" type="ibdo" minOccurs="0"/>
            <xs:element name="extract48" type="ibdo" minOccurs="0"/>
            <xs:element name="extract49" type="ibdo" minOccurs="0"/>
            <xs:element name="extract50" type="ibdo" minOccurs="0"/>
            <xs:element name="extract51" type="ibdo" minOccurs="0"/>
            <xs:element name="extract52" type="ibdo" minOccurs="0"/>
            <xs:element name="extract53" type="ibdo" minOccurs="0"/>
            <xs:element name="extract54" type="ibdo" minOccurs="0"/>
            <xs:element name="extract55" type="ibdo" minOccurs="0"/>
            <xs:element name="extract56" type="ibdo" minOccurs="0"/>
            <xs:element name="extract57" type="ibdo" minOccurs="0"/>
            <xs:element name="extract58" type="ibdo" minOccurs="0"/>
            <xs:element name="extract59" type="ibdo" minOccurs="0"/>
            <xs:element name="extract60" type="ibdo" minOccurs="0"/>
            <xs:element name="extract61" type="ibdo" minOccurs="0"/>
            <xs:element name="extract62" type="ibdo" minOccurs="0"/>
            <xs:element name="extract63" type="ibdo" minOccurs="0"/>
            <xs:element name="extract64" type="ibdo" minOccurs="0"/>
            <xs:element name="extract65" type="ibdo" minOccurs="0"/>
            <xs:element name="extract66" type="ibdo" minOccurs="0"/>
            <xs:element name="extract67" type="ibdo" minOccurs="0"/>
            <xs:element name="extract68" type="ibdo" minOccurs="0"/>
            <xs:element name="extract69" type="ibdo" minOccurs="0"/>
            <xs:element name="extract70" type="ibdo" minOccurs="0"/>
            <xs:element name="extract71" type="ibdo" minOccurs="0"/>
            <xs:element name="extract72" type="ibdo" minOccurs="0"/>
            <xs:element name="extract73" type="ibdo" minOccurs="0"/>
            <xs:element name="extract74" type="ibdo" minOccurs="0"/>
            <xs:element name="extract75" type="ibdo" minOccurs="0"/>
            <xs:element name="extract76" type="ibdo" minOccurs="0"/>
            <xs:element name="extract77" type="ibdo" minOccurs="0"/>
            <xs:element name="extract78" type="ibdo" minOccurs="0"/>
            <xs:element name="extract79" type="ibdo" minOccurs="0"/>
            <xs:element name="extract80" type="ibdo" minOccurs="0"/>
            <xs:element name="extract81" type="ibdo" minOccurs="0"/>
            <xs:element name="extract82" type="ibdo" minOccurs="0"/>
            <xs:element name="extract83" type="ibdo" minOccurs="0"/>
            <xs:element name="extract84" type="ibdo" minOccurs="0"/>
            <xs:element name="extract85" type="ibdo" minOccurs="0"/>
            <xs:element name="extract86" type="ibdo" minOccurs="0"/>
            <xs:element name="extract87" type="ibdo" minOccurs="0"/>
            <xs:element name="extract88" type="ibdo" minOccurs="0"/>
            <xs:element name="extract89" type="ibdo" minOccurs="0"/>
            <xs:element name="extract90" type="ibdo" minOccurs="0"/>
            <xs:element name="extract91" type="ibdo" minOccurs="0"/>
            <xs:element name="extract92" type="ibdo" minOccurs="0"/>
            <xs:element name="extract93" type="ibdo" minOccurs="0"/>
            <xs:element name="extract94" type="ibdo" minOccurs="0"/>
            <xs:element name="extract95" type="ibdo" minOccurs="0"/>
            <xs:element name="extract96" type="ibdo" minOccurs="0"/>
            <xs:element name="extract97" type="ibdo" minOccurs="0"/>
            <xs:element name="extract98" type="ibdo" minOccurs="0"/>
            <xs:element name="extract99" type="ibdo" minOccurs="0"/>
            <xs:element name="extract100" type="ibdo" minOccurs="0"/>
            <xs:element name="extract101" type="ibdo" minOccurs="0"/>
            <xs:element name="extract102" type="ibdo" minOccurs="0"/>
            <xs:element name="extract103" type="ibdo" minOccurs="0"/>
            <xs:element name="extract104" type="ibdo" minOccurs="0"/>
            <xs:element name="extract105" type="ibdo" minOccurs="0"/>
            <xs:element name="extract106" type="ibdo" minOccurs="0"/>
            <xs:element name="extract107" type="ibdo" minOccurs="0"/>
            <xs:element name="extract108" type="ibdo" minOccurs="0"/>
            <xs:element name="extract109" type="ibdo" minOccurs="0"/>
            <xs:element name="extract110" type="ibdo" minOccurs="0"/>
            <xs:element name="extract111" type="ibdo" minOccurs="0"/>
            <xs:element name="extract112" type="ibdo" minOccurs="0"/>
            <xs:element name="extract113" type="ibdo" minOccurs="0"/>
            <xs:element name="extract114" type="ibdo" minOccurs="0"/>
            <xs:element name="extract115" type="ibdo" minOccurs="0"/>
            <xs:element name="extract116" type="ibdo" minOccurs="0"/>
            <xs:element name="extract117" type="ibdo" minOccurs="0"/>
            <xs:element name="extract118" type="ibdo" minOccurs="0"/>
            <xs:element name="extract119" type="ibdo" minOccurs="0"/>
            <xs:element name="extract120" type="ibdo" minOccurs="0"/>
            <xs:element name="extract121" type="ibdo" minOccurs="0"/>
            <xs:element name="extract122" type="ibdo" minOccurs="0"/>
            <xs:element name="extract123" type="ibdo" minOccurs="0"/>
            <xs:element name="extract124" type="ibdo" minOccurs="0"/>
            <xs:element name="extract125" type="ibdo" minOccurs="0"/>
            <xs:element name="extract126" type="ibdo" minOccurs="0"/>
            <xs:element name="extract127" type="ibdo" minOccurs="0"/>
            <xs:element name="extract128" type="ibdo" minOccurs="0"/>
            <xs:element name="extract129" type="ibdo" minOccurs="0"/>
            <xs:element name="extract130" type="ibdo" minOccurs="0"/>
            <xs:element name="extract131" type="ibdo" minOccurs="0"/>
            <xs:element name="extract132" type="ibdo" minOccurs="0"/>
            <xs:element name="extract133" type="ibdo" minOccurs="0"/>
            <xs:element name="extract134" type="ibdo" minOccurs="0"/>
            <xs:element name="extract135" type="ibdo" minOccurs="0"/>
            <xs:element name="extract136" type="ibdo" minOccurs="0"/>
            <xs:element name="extract137" type="ibdo" minOccurs="0"/>
            <xs:element name="extract138" type="ibdo" minOccurs="0"/>
            <xs:element name="extract139" type="ibdo" minOccurs="0"/>
            <xs:element name="extract140" type="ibdo" minOccurs="0"/>
            <xs:element name="extract141" type="ibdo" minOccurs="0"/>
            <xs:element name="extract142" type="ibdo" minOccurs="0"/>
            <xs:element name="extract143" type="ibdo" minOccurs="0"/>
            <xs:element name="extract144" type="ibdo" minOccurs="0"/>
            <xs:element name="extract145" type="ibdo" minOccurs="0"/>
            <xs:element name="extract146" type="ibdo" minOccurs="0"/>
            <xs:element name="extract147" type="ibdo" minOccurs="0"/>
            <xs:element name="extract148" type="ibdo" minOccurs="0"/>
            <xs:element name="extract149" type="ibdo" minOccurs="0"/>
            <xs:element name="extract150" type="ibdo" minOccurs="0"/>
            <xs:element name="extract151" type="ibdo" minOccurs="0"/>
            <xs:element name="extract152" type="ibdo" minOccurs="0"/>
            <xs:element name="extract153" type="ibdo" minOccurs="0"/>
            <xs:element name="extract154" type="ibdo" minOccurs="0"/>
            <xs:element name="extract155" type="ibdo" minOccurs="0"/>
            <xs:element name="extract156" type="ibdo" minOccurs="0"/>
            <xs:element name="extract157" type="ibdo" minOccurs="0"/>
            <xs:element name="extract158" type="ibdo" minOccurs="0"/>
            <xs:element name="extract159" type="ibdo" minOccurs="0"/>
            <xs:element name="extract160" type="ibdo" minOccurs="0"/>
            <xs:element name="extract161" type="ibdo" minOccurs="0"/>
            <xs:element name="extract162" type="ibdo" minOccurs="0"/>
            <xs:element name="extract163" type="ibdo" minOccurs="0"/>
            <xs:element name="extract164" type="ibdo" minOccurs="0"/>
            <xs:element name="extract165" type="ibdo" minOccurs="0"/>
            <xs:element name="extract166" type="ibdo" minOccurs="0"/>
            <xs:element name="extract167" type="ibdo" minOccurs="0"/>
            <xs:element name="extract168" type="ibdo" minOccurs="0"/>
            <xs:element name="extract169" type="ibdo" minOccurs="0"/>
            <xs:element name="extract170" type="ibdo" minOccurs="0"/>
            <xs:element name="extract171" type="ibdo" minOccurs="0"/>
            <xs:element name="extract172" type="ibdo" minOccurs="0"/>
            <xs:element name="extract173" type="ibdo" minOccurs="0"/>
            <xs:element name="extract174" type="ibdo" minOccurs="0"/>
            <xs:element name="extract175" type="ibdo" minOccurs="0"/>
            <xs:element name="extract176" type="ibdo" minOccurs="0"/>
            <xs:element name="extract177" type="ibdo" minOccurs="0"/>
            <xs:element name="extract178" type="ibdo" minOccurs="0"/>
            <xs:element name="extract179" type="ibdo" minOccurs="0"/>
            <xs:element name="extract180" type="ibdo" minOccurs="0"/>
            <xs:element name="extract181" type="ibdo" minOccurs="0"/>
            <xs:element name="extract182" type="ibdo" minOccurs="0"/>
            <xs:element name="extract183" type="ibdo" minOccurs="0"/>
            <xs:element name="extract184" type="ibdo" minOccurs="0"/>
            <xs:element name="extract185" type="ibdo" minOccurs="0"/>
            <xs:element name="extract186" type="ibdo" minOccurs="0"/>
            <xs:element name="extract187" type="ibdo" minOccurs="0"/>
            <xs:element name="extract188" type="ibdo" minOccurs="0"/>
            <xs:element name="extract189" type="ibdo" minOccurs="0"/>
            <xs:element name="extract190" type="ibdo" minOccurs="0"/>
            <xs:element name="extract191" type="ibdo" minOccurs="0"/>
            <xs:element name="extract192" type="ibdo" minOccurs="0"/>
            <xs:element name="extract193" type="ibdo" minOccurs="0"/>
            <xs:element name="extract194" type="ibdo" minOccurs="0"/>
            <xs:element name="extract195" type="ibdo" minOccurs="0"/>
            <xs:element name="extract196" type="ibdo" minOccurs="0"/>
            <xs:element name="extract197" type="ibdo" minOccurs="0"/>
            <xs:element name="extract198" type="ibdo" minOccurs="0"/>
            <xs:element name="extract199" type="ibdo" minOccurs="0"/>
            <xs:element name="extract200" type="ibdo" minOccurs="0"/>
        </xs:sequence>
    </xs:group>
</xs:schema>
